nav>* {
  display: inline-block;
  margin-right: 20px;
  font-size: 3.5vw;
}

#srb, #eng {
  font-size: 3.5vw;
  margin: 0 0.1rem;
}

nav {
  width: 90%;
}

nav .active {
  font-weight: bold;
}

@media (min-width: 800px) {
  nav>* {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.2rem;
    margin-top: 0.1rem;
  }
  #srb, #eng {
    font-size: 1.2rem;
    margin-top: 0.1rem;
  }
}